<header>
    <nav class="top">
        <div class="logo">
           <p>Artha AI</p>
        </div>
        <ul class="icons">
            <li><a href="#"><i class="fas fa-bell"></i></a></li>
             <li><a href="#"><div id="openuser" class="circle" data-initials="{{ user.first_name|slice:':1' }}{{ user.last_name|slice:':1' }}">
           {% if user.profile_image %}
                    <img id="profile-circle-img" src="{{ user.profile_image.url }}" class="circle-img" style="display: block;">
                {% else %}
                    <img id="profile-circle-img" src="" class="circle-img" style="display: none;">
                    <span id="initials"></span>
                {% endif %}   
            </div> </a> </li>   
        </ul>
    </nav>
     
    <div class="user-overlay" id="user-container">
        <div id="user-content">
         </div>
     </div>
</header>
        
        